<form method="POST" action="/product/add">
    <label for="name">
        Nazwa produktu
        <input type="text" name="name" id="name">
    </label>
    

    <label for="price">
        Cena
        <input type="number" name="price" id="price">
    </label>

    <button type="submit">Dodaj</button>
</form>