 
        <%= product.name %>
      </td>
      <td>
        <%= product.price %>
      </td>
      <td>
        <a href="/product/view/<%= product._id %>">Link</a>
      </td>
    </tr>
    <% }) %>

  </table>

  <% }  %>