<form method="POST" action="/visits">
    <label for="patientName">
        Pacjent:
        <input type="text" name="patientName" id="patientName">
    </label>
    <label for="pesel">
        PESEL:
        <input type="number" name="pesel" id="pesel">
    </label>
    <label for="date">
        Data wizyty:
        <input type="date" name="date" id="date">
    </label>
    <label for="note">
        Notatka:
        <textarea name="note" id="note"></textarea>
    </label>
    <button type="submit">Zajrestruj wizytę</button>
</form>