<header>
  <h1>Marketplace</h1>
  <nav>
    <a href="/items">Items</a>
    <a href="/users">Users</a>
    <a href="/transactions">Transactions</a>
    <% if(session.user){ %>
    <span>Witaj, <%= session.user.login %></span>
    <a href="/transactions/propositions">Propozycje</a>
    <a href="/auth/logout">Wyloguj</a>
    <% } else {%>
    <a href="/auth/login">Logowanie</a>
    <a href="/auth/register">Rejestracja</a>
    <% }%>
  </nav>
</header>