<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rejestr Wizyt</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <%- body %>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>